<div class="header-container">

  <a href="/"><div class="header-container-logo"><div class="header-container-pic"></div> Ái Trà</div></a>
  <div class="header-box-search">
    <input type="text" placeholder="Tìm kiếm...">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="header-wrap">
    <div class="header-box-bell">
    <i class="fa-solid fa-bell"></i>
    <p>Thông báo</p>
  </div>
  <a href="/history?username=Long252725">
  <div class="header-box-cart">
    <i class="fa-solid fa-cart-shopping"></i>
    <p>Giỏ hàng</p>
  </div></a>
  <a href="/chat?username=Long252725">
  <div class="header-box-chat">
    <i class="fa-solid fa-comment"></i>
    <p>Chat</p>
  </div></a>
  <a href="/room">
    <div class="header-box-acc">
    <i class="fa-solid fa-chalkboard-user"></i>
    <p>Trà Đạo Room</p>
  </div>
  </a>
  </div>
  <div class="header-box-auth">
    {{!-- <div class="login"><a href="/login">Đăng nhập</a></div>
    <div class="sigup">Đăng ký</div> --}}
    <i class="fa-solid fa-bars " id="menuBtn"></i>
  </div>
</div>
<div class="header-container-bar" id="header-container-bar">
  <div class="shadow"></div>
  <div class="bar">
    <div class="header-container-bar-profile">
      <div class="pic"></div>
      <img src="{{user.picUser}}" alt="">
      <div class="name-box">
        <div class="name">{{user.fullName}}</div>
        <div class="sate">Badge: “Bé yêu sách” <i class="fa-solid fa-star" style="color: rgb(0, 85, 233);"></i></div>
      </div>
    </div>
    <div class="header-container-bar-menu">
      <div class="select">
        <i class="fa-solid fa-house"></i>
        <a href="/">Trang chủ</a>
      </div>
      {{!-- <div class="select">
        <i class="fa-solid fa-wallet"></i>
        Ví tiền
      </div> --}}
      <div class="select">
        <i class="fa-solid fa-cart-shopping"></i>
        <a href="/history?username={{user.userName}}">Đơn hàng</a>
      </div>
      <div class="select">
        <i class="fa-solid fa-user"></i>
        <a href="/profile?username={{user.userName}}">Profile</a>
      </div>
      <div class="select">
        <i class="fa-solid fa-star"></i>
        <a href="/post?username={{user.userName}}">Đăng bài</a>
      </div>
      <div class="select">
        <i class="fa-solid fa-star"></i>
        <a href="/sv5t?username={{user.userName}}">SV5T (Quyên Góp)</a>
      </div>
      {{!-- <div class="select">
        <i class="fa-solid fa-gear"></i>
        Thiết lập tài khoản
      </div> --}}
      <div class="select">
        <i class="fa-solid fa-right-from-bracket"></i>
        <a href="/logout">Đăng xuất</a>
      </div>
      <div class="contact">
        
      </div>
    </div>
  </div>
  <script src="javascript/header.js"></script>
</div>

